
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>GameCheck | <%=row[0].name%></title>
  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/standart.css">
  <link rel="stylesheet" href="/gamepage.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
  <style>
  </style>
  <style>

  .circle-image{
	  border-radius: 5%;
	}
  </style>
</head>
<body class="container">
  <%- include('../partials/head.ejs') %>
  <h1 class="" align="center" style="color: rgb(238, 238, 238);">Game Check</h1>


  <div id="root"></div>
    <div class="example-2 card">
      <div class="wrapper" style="background: url(<%=row[0].img%>) center / cover no-repeat; border: solid 5px rgb(158, 158, 158); border-radius: 30px;">
        <div class="header">
          <a href="/addGame" onclick="add()">
            <ul class="menu-content card" style="background-color: rgb(238, 238, 238); width: 50px; height: 50px;  border-radius: 30px;">
              <li><img height="40px" width="40px" style=" margin-top: 8px;" src="https://cdn-icons-png.flaticon.com/512/158/158722.png"></img></li>
            </ul>
          </a>
        </div>
        <div class="data">
          <div class="content">
            <div class="card" style="background-color: rgb(238, 238, 238);">
            <h1 class="title"><h1 style="color: black;"><%=row[0].name%></h1></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/game_info.js"></script>
  <script type="text/babel" src="./lander.js"></script>

</body>

</html>